{% extends "base.html" %}

{% block content %}

<form action="/profile" method="POST" style="color:black">
<div style="float: right; text-align: right; margin-left: 20px">
    <fieldset style="width: 40%; float: right; padding: 10px;">
      <legend><b>اطلاعات حساب کارگزاری:</b></legend>
      <label for="brName">نام کارگزاری:</label>
      <select name="brokerage" id="brokerage" required>
    <option value="https://online.samanbourse.com/">سامان</option>
    <option value="https://online.ansarbankbroker.ir/Login">انصار</option>
    <option value="https://mofidonline.com/Login">مفید</option>
    <option value="Agah">آگاه</option>
  </select><br>
      <label for="username">نام کاربری:</label><br>
      <input type="text" id="username1" name="uname" required><br>
      <label for="username">رمز عبور:</label><br>
      <input type="password" id="password1" name="password" required><br>
      <input type="checkbox" onclick="showpassFunction()"> نمایش رمز عبور <br>
      <label for="starttime">شروع:</label><br>
      <input type="time" id="starttime" name="starttime" value="starttime"><br>
      <label for="starttime">پایان:</label><br>
      <input type="time" id="stoptime" name="stoptime" value="stoptime"><br><br>
      
      

    </fieldset>
    
</div>
  <div style="float: right; margin-left: 20px; text-align: right;">
    <fieldset style="width: 40%; float: left; padding: 10px;">
      <legend><b> اطلاعات سهم:</b></legend>
      <label for="namad">اسم سهم:</label><br>
      
      <input id="myInput" list="stocks" name="namad" placeholder=' نماد را وارد کنید' required>
      <datalist id="stocks">
        <option value='18719101'>
        <option value='آبادا'>
        <option value='آپ'>
        <option value='آسيا'>
        <option value='آسياتك'>
        <option value='آكنتور'>
        <option value='آكنتورح'>
        <option value='اخابر'>
        <option value='اخابرح'>
        <option value='افق'>
        <option value='افقح'>
        <option value='اكالا'>
        <option value='اكتيو'>
        <option value='البرز'>
        <option value='البرزح'>
        <option value='اميد'>
        <option value='اميدح'>
        <option value='امين'>
        <option value='انرژي1'>
        <option value='انرژي2'>
        <option value='انرژي3'>
        <option value='باختر'>
        <option value='باخترح'>
        <option value='بالبر'>
        <option value='بالبرح'>
        <option value='بايكا'>
        <option value='بايكاح'>
        <option value='بترانس'>
        <option value='بترانسح'>
        <option value='بتك'>
        <option value='بتكح'>
        <option value='بجهرم'>
        <option value='برانسفو'>
        <option value='بركت'>
        <option value='بركتح'>
        <option value='بسويچ'>
        <option value='بسويچح'>
        <option value='بشهاب'>
        <option value='بشهابح'>
        <option value='بفجر'>
        <option value='بكاب'>
        <option value='بكابح'>
        <option value='بكام'>
        <option value='بكامح'>
        <option value='بموتو'>
        <option value='بموتوح'>
        <option value='بنيرو'>
        <option value='بنيروح'>
        <option value='بورس'>
        <option value='پارتا'>
        <option value='پارتاح'>
        <option value='پارس'>
        <option value='پارسان'>
        <option value='پارسانح'>
        <option value='پارسيان'>
        <option value='پارسيانح'>
        <option value='پاسا'>
        <option value='پاساح'>
        <option value='پاكشو'>
        <option value='پتاير'>
        <option value='پتايرح'>
        <option value='پترول'>
        <option value='پترولح'>
        <option value='پدرخش'>
        <option value='پدرخشح'>
        <option value='پدنا'>
        <option value='پدناح'>
        <option value='پرداخت'>
        <option value='پرداختح'>
        <option value='پرديس'>
        <option value='پرديسح'>
        <option value='پرشيا'>
        <option value='پسهند'>
        <option value='پسهندح'>
        <option value='پشاهن'>
        <option value='پشاهنح'>
        <option value='پكرمان'>
        <option value='پكرمانح'>
        <option value='پكوير'>
        <option value='پكويرح'>
        <option value='پكيان'>
        <option value='پكيانح'>
        <option value='پلاست'>
        <option value='پلاستح'>
        <option value='پلاسك'>
        <option value='پلاسكح'>
        <option value='پلوله'>
        <option value='پلولهح'>
        <option value='پيزد'>
        <option value='تاپيكو'>
        <option value='تاپيكوح'>
        <option value='تاصيكو'>
        <option value='تاصيكوح'>
        <option value='تايرا'>
        <option value='تايراح'>
        <option value='تپكو'>
        <option value='تپكوح'>
        <option value='تپمپي'>
        <option value='تپمپيح'>
        <option value='تراك'>
        <option value='تراكح'>
        <option value='تفيرو'>
        <option value='تفيروح'>
        <option value='تكالا'>
        <option value='تكشا'>
        <option value='تكشاح'>
        <option value='تكمبا'>
        <option value='تكمباح'>
        <option value='تكنو'>
        <option value='تكنوح'>
        <option value='تمحركه'>
        <option value='تمحركهح'>
        <option value='تملت'>
        <option value='تنوين'>
        <option value='تيپيكو'>
        <option value='ثاباد'>
        <option value='ثابادح'>
        <option value='ثاخت'>
        <option value='ثاختح'>
        <option value='ثاژن'>
        <option value='ثاژنح'>
        <option value='ثاصفا'>
        <option value='ثاصفاح'>
        <option value='ثامان'>
        <option value='ثامانح'>
        <option value='ثبهساز'>
        <option value='ثشاهد'>
        <option value='ثشاهدح'>
        <option value='ثشرق'>
        <option value='ثشرقح'>
        <option value='ثفارس'>
        <option value='ثفارسح'>
        <option value='ثمسكن'>
        <option value='ثمسكنح'>
        <option value='ثملي'>
        <option value='ثنوسا'>
        <option value='ثنوساح'>
        <option value='جم'>
        <option value='جم پيلن'>
        <option value='جمح'>
        <option value='چافست'>
        <option value='چافستح'>
        <option value='چبسپا'>
        <option value='چبسپاح'>
        <option value='چدن'>
        <option value='چفيبر'>
        <option value='چفيبرح'>
        <option value='چكاپا'>
        <option value='چكارم'>
        <option value='چكارمح'>
        <option value='چكارن'>
        <option value='چكارنح'>
        <option value='چكاوه'>
        <option value='چكاوهح'>
        <option value='چنوپا'>
        <option value='چنوپاح'>
        <option value='حپترو'>
        <option value='حپتروح'>
        <option value='حتايد'>
        <option value='حتايدح'>
        <option value='حتوكا'>
        <option value='حتوكاح'>
        <option value='حفارس'>
        <option value='حفاري'>
        <option value='حفاريح'>
        <option value='حفجر'>
        <option value='حكشتي'>
        <option value='حكشتيح'>
        <option value='خاذين'>
        <option value='خاذينح'>
        <option value='خاهن'>
        <option value='خاهنح'>
        <option value='خاور'>
        <option value='خاورح'>
        <option value='خبهمن'>
        <option value='خبهمنح'>
        <option value='خپارس'>
        <option value='خپارسح'>
        <option value='خپويش'>
        <option value='خپويشح'>
        <option value='ختراك'>
        <option value='ختراكح'>
        <option value='ختور'>
        <option value='ختورح'>
        <option value='ختوقا'>
        <option value='ختوقاح'>
        <option value='خچرخش'>
        <option value='خچرخشح'>
        <option value='خراسان'>
        <option value='خريخت'>
        <option value='خريختح'>
        <option value='خرينگ'>
        <option value='خرينگح'>
        <option value='خزاميا'>
        <option value='خزامياح'>
        <option value='خزر'>
        <option value='خزرح'>
        <option value='خساپا'>
        <option value='خساپاح'>
        <option value='خشرق'>
        <option value='خشرقح'>
        <option value='خصدرا'>
        <option value='خصدراح'>
        <option value='خفنر'>
        <option value='خفنرح'>
        <option value='خكار'>
        <option value='خكارح'>
        <option value='خكاوه'>
        <option value='خكاوهح'>
        <option value='خكمك'>
        <option value='خكمكح'>
        <option value='خگستر'>
        <option value='خگسترح'>
        <option value='خلنت'>
        <option value='خلنتح'>
        <option value='خمحركه'>
        <option value='خمحركهح'>
        <option value='خمحور'>
        <option value='خمحورح'>
        <option value='خمهر'>
        <option value='خمهرح'>
        <option value='خموتور'>
        <option value='خموتورح'>
        <option value='خنصير'>
        <option value='خنصيرح'>
        <option value='خودرو'>
        <option value='خودروح'>
        <option value='خوساز'>
        <option value='خوسازح'>
        <option value='دابور'>
        <option value='دابورح'>
        <option value='دارو'>
        <option value='داسوه'>
        <option value='داسوهح'>
        <option value='دالبر'>
        <option value='دامين'>
        <option value='دامينح'>
        <option value='دانا'>
        <option value='دپارس'>
        <option value='دتماد'>
        <option value='دتمادح'>
        <option value='دتهران'>
        <option value='دتهرانح'>
        <option value='دجابر'>
        <option value='دجابرح'>
        <option value='ددام'>
        <option value='ددامح'>
        <option value='درازك'>
        <option value='درازكح'>
        <option value='دروز'>
        <option value='دروزح'>
        <option value='دزهراوي'>
        <option value='دزهراويح'>
        <option value='دسبحا'>
        <option value='دسبحاح'>
        <option value='دسبحان'>
        <option value='دسبحانح'>
        <option value='دسينا'>
        <option value='دسيناح'>
        <option value='دشيمي'>
        <option value='دشيميح'>
        <option value='دعبيد'>
        <option value='دعبيدح'>
        <option value='دفارا'>
        <option value='دفاراح'>
        <option value='دفرا'>
        <option value='دفراح'>
        <option value='دكوثر'>
        <option value='دكوثرح'>
        <option value='دكيمي'>
        <option value='دكيميح'>
        <option value='دلر'>
        <option value='دلرح'>
        <option value='دلقما'>
        <option value='دلقماح'>
        <option value='ديران'>
        <option value='ديرانح'>
        <option value='ديسشپ'>
        <option value='رانفور'>
        <option value='رانفورح'>
        <option value='رتاپ'>
        <option value='رتاپح'>
        <option value='رتكو'>
        <option value='ركيش'>
        <option value='ركيشح'>
        <option value='رمپنا'>
        <option value='رمپناح'>
        <option value='زپارس'>
        <option value='زكوثر'>
        <option value='زمگسا'>
        <option value='زمگساح'>
        <option value='سابيك'>
        <option value='ساذري'>
        <option value='ساذريح'>
        <option value='ساراب'>
        <option value='سارابح'>
        <option value='ساربيل'>
        <option value='ساربيلح'>
        <option value='ساروم'>
        <option value='سارومح'>
        <option value='ساوه'>
        <option value='سايرا'>
        <option value='سايراح'>
        <option value='سبجنو'>
        <option value='سبجنوح'>
        <option value='سبهان'>
        <option value='سبهانح'>
        <option value='سپ'>
        <option value='سپاها'>
        <option value='سپاهاح'>
        <option value='سپرمي'>
        <option value='ستران'>
        <option value='سترانح'>
        <option value='سخاش'>
        <option value='سخاشح'>
        <option value='سخزر'>
        <option value='سخزرح'>
        <option value='سخوز'>
        <option value='سخوزح'>
        <option value='سدشت'>
        <option value='سدشتح'>
        <option value='سدور'>
        <option value='سدورح'>
        <option value='سرود'>
        <option value='سرودح'>
        <option value='سشرق'>
        <option value='سشرقح'>
        <option value='سشمال'>
        <option value='سصفها'>
        <option value='سصفهاح'>
        <option value='سصوفي'>
        <option value='سصوفيح'>
        <option value='سغدير'>
        <option value='سغرب'>
        <option value='سفار'>
        <option value='سفارح'>
        <option value='سفارس'>
        <option value='سفارسح'>
        <option value='سفارود'>
        <option value='سفارودح'>
        <option value='سفاسيت'>
        <option value='سفاسيتح'>
        <option value='سفانو'>
        <option value='سفانوح'>
        <option value='سقاين'>
        <option value='سقاينح'>
        <option value='سكارون'>
        <option value='سكارونح'>
        <option value='سكرد'>
        <option value='سكردح'>
        <option value='سكرما'>
        <option value='سكرماح'>
        <option value='سمازن'>
        <option value='سمازنح'>
        <option value='سنير'>
        <option value='سهرمز'>
        <option value='سهرمزح'>
        <option value='سهگمت'>
        <option value='سهگمتح'>
        <option value='سيتا'>
        <option value='سيدكو'>
        <option value='سيدكوح'>
        <option value='سيستم'>
        <option value='سيلام'>
        <option value='سيمرغ'>
        <option value='سينا'>
        <option value='شاراك'>
        <option value='شاراكح'>
        <option value='شاملا'>
        <option value='شاملاح'>
        <option value='شبريز'>
        <option value='شبريزح'>
        <option value='شبندر'>
        <option value='شبهرن'>
        <option value='شبهرنح'>
        <option value='شپارس'>
        <option value='شپارسح'>
        <option value='شپاكسا'>
        <option value='شپاكساح'>
        <option value='شپترو'>
        <option value='شپتروح'>
        <option value='شپديس'>
        <option value='شپديسح'>
        <option value='شپلي'>
        <option value='شپليح'>
        <option value='شپمچا'>
        <option value='شپمچاح'>
        <option value='شپنا'>
        <option value='شپناح'>
        <option value='شتران'>
        <option value='شتهران'>
        <option value='شتهرانح'>
        <option value='شتولي'>
        <option value='شتوليح'>
        <option value='شجي'>
        <option value='شخارك'>
        <option value='شخاركح'>
        <option value='شدوص'>
        <option value='شدوصح'>
        <option value='شرنگي'>
        <option value='شرنگيح'>
        <option value='شزنگ'>
        <option value='شزنگح'>
        <option value='شسپا'>
        <option value='شسم'>
        <option value='شسمح'>
        <option value='شسينا'>
        <option value='شسيناح'>
        <option value='شصفها'>
        <option value='شصفهاح'>
        <option value='شفا'>
        <option value='شفارا'>
        <option value='شفاراح'>
        <option value='شفارس'>
        <option value='شفارسح'>
        <option value='شفن'>
        <option value='شفنح'>
        <option value='شكربن'>
        <option value='شكربنح'>
        <option value='شكف'>
        <option value='شكفح'>
        <option value='شكلر'>
        <option value='شكلرح'>
        <option value='شگل'>
        <option value='شگلح'>
        <option value='شلعاب'>
        <option value='شلعابح'>
        <option value='شلوان'>
        <option value='شمواد'>
        <option value='شموادح'>
        <option value='شنفت'>
        <option value='شوش'>
        <option value='شوشح'>
        <option value='شوينده'>
        <option value='شيراز'>
        <option value='شيرازح'>
        <option value='شيران'>
        <option value='شيرانح'>
        <option value='غاذر'>
        <option value='غاذرح'>
        <option value='غالبر'>
        <option value='غالبرح'>
        <option value='غبشهر'>
        <option value='غبشهرح'>
        <option value='غبهپاك'>
        <option value='غبهپاكح'>
        <option value='غبهنوش'>
        <option value='غبهنوشح'>
        <option value='غپاك'>
        <option value='غپاكح'>
        <option value='غپينو'>
        <option value='غپينوح'>
        <option value='غچين'>
        <option value='غچينح'>
        <option value='غدام'>
        <option value='غدامح'>
        <option value='غدشت'>
        <option value='غدشتح'>
        <option value='غزر'>
        <option value='غساسا'>
        <option value='غساساح'>
        <option value='غسالم'>
        <option value='غسالمح'>
        <option value='غشاذر'>
        <option value='غشاذرح'>
        <option value='غشان'>
        <option value='غشانح'>
        <option value='غشصفا'>
        <option value='غشصفاح'>
        <option value='غشهد'>
        <option value='غشهدح'>
        <option value='غكورش'>
        <option value='غگرجي'>
        <option value='غگرجيح'>
        <option value='غگل'>
        <option value='غگلح'>
        <option value='غمارگ'>
        <option value='غمارگح'>
        <option value='غمهرا'>
        <option value='غمهراح'>
        <option value='غناب'>
        <option value='غنابح'>
        <option value='غنوش'>
        <option value='غنوشح'>
        <option value='غيوان'>
        <option value='غيوانح'>
        <option value='فاذر'>
        <option value='فاذرح'>
        <option value='فاراك'>
        <option value='فاراكح'>
        <option value='فارس'>
        <option value='فاسمين'>
        <option value='فاسمينح'>
        <option value='فالوم'>
        <option value='فالومح'>
        <option value='فاما'>
        <option value='فاماح'>
        <option value='فاهواز'>
        <option value='فاهوازح'>
        <option value='فايرا'>
        <option value='فايراح'>
        <option value='فباهنر'>
        <option value='فباهنرح'>
        <option value='فبستم'>
        <option value='فبستمح'>
        <option value='فبيرا'>
        <option value='فبيراح'>
        <option value='فپارس'>
        <option value='فپارسح'>
        <option value='فپنتا'>
        <option value='فپنتاح'>
        <option value='فجام'>
        <option value='فجامح'>
        <option value='فجر'>
        <option value='فجرح'>
        <option value='فجوش'>
        <option value='فجوشح'>
        <option value='فخاس'>
        <option value='فخاسح'>
        <option value='فخوز'>
        <option value='فخوزح'>
        <option value='فرآور'>
        <option value='فرآورح'>
        <option value='فروس'>
        <option value='فروسح'>
        <option value='فروم'>
        <option value='فرومح'>
        <option value='فساز'>
        <option value='فسازان'>
        <option value='فسپا'>
        <option value='فسپاح'>
        <option value='فسديد'>
        <option value='فسديدح'>
        <option value='فسرب'>
        <option value='فسربح'>
        <option value='فسلير'>
        <option value='فسليرح'>
        <option value='فلامي'>
        <option value='فلاميح'>
        <option value='فلوله'>
        <option value='فلولهح'>
        <option value='فمتال'>
        <option value='فمتالح'>
        <option value='فمراد'>
        <option value='فمرادح'>
        <option value='فملي'>
        <option value='فمليح'>
        <option value='فنرژي'>
        <option value='فنرژيح'>
        <option value='فنوال'>
        <option value='فنوالح'>
        <option value='فنورد'>
        <option value='فنوردح'>
        <option value='فوكا'>
        <option value='فوكاح'>
        <option value='فولاد'>
        <option value='فولادح'>
        <option value='فولاژ'>
        <option value='فولاژح'>
        <option value='قپارس'>
        <option value='قپارسح'>
        <option value='قپيرا'>
        <option value='قپيراح'>
        <option value='قثابت'>
        <option value='قثابتح'>
        <option value='قجام'>
        <option value='قجامح'>
        <option value='قرن'>
        <option value='قزوين'>
        <option value='قزوينح'>
        <option value='قستان'>
        <option value='قستانح'>
        <option value='قستون'>
        <option value='قستونح'>
        <option value='قشرين'>
        <option value='قشرينح'>
        <option value='قشكر'>
        <option value='قشكرح'>
        <option value='قشهد'>
        <option value='قشهدح'>
        <option value='قشير'>
        <option value='قشيرح'>
        <option value='قصفها'>
        <option value='قصفهاح'>
        <option value='قلرست'>
        <option value='قلرستح'>
        <option value='قمرو'>
        <option value='قمروح'>
        <option value='قنقش'>
        <option value='قنقشح'>
        <option value='قنيشا'>
        <option value='قنيشاح'>
        <option value='قهكمت'>
        <option value='قهكمتح'>
        <option value='كابگن'>
        <option value='كابگنح'>
        <option value='كاذر'>
        <option value='كاذرح'>
        <option value='كاصفا'>
        <option value='كاصفاح'>
        <option value='كالا'>
        <option value='كاما'>
        <option value='كاماح'>
        <option value='كاوه'>
        <option value='كاوهح'>
        <option value='كايتا'>
        <option value='كايتاح'>
        <option value='كايگچ'>
        <option value='كايگچح'>
        <option value='كبافق'>
        <option value='كبافقح'>
        <option value='كبورس'>
        <option value='كپارس'>
        <option value='كپارسح'>
        <option value='كپشير'>
        <option value='كپشيرح'>
        <option value='كترام'>
        <option value='كترامح'>
        <option value='كچاد'>
        <option value='كچيني'>
        <option value='كچينيح'>
        <option value='كحافظ'>
        <option value='كحافظح'>
        <option value='كخاك'>
        <option value='كخاكح'>
        <option value='كدما'>
        <option value='كدماح'>
        <option value='كرازي'>
        <option value='كرازيح'>
        <option value='كرماشا'>
        <option value='كرماشاح'>
        <option value='كروي'>
        <option value='كرويح'>
        <option value='كساپا'>
        <option value='كساپاح'>
        <option value='كساوه'>
        <option value='كساوهح'>
        <option value='كسرا'>
        <option value='كسراح'>
        <option value='كسرام'>
        <option value='كسرامح'>
        <option value='كسعدي'>
        <option value='كسعديح'>
        <option value='كطبس'>
        <option value='كطبسح'>
        <option value='كفپارس'>
        <option value='كفپارسح'>
        <option value='كفرا'>
        <option value='كفراح'>
        <option value='كقزوي'>
        <option value='كقزويح'>
        <option value='كگاز'>
        <option value='كگازح'>
        <option value='كگل'>
        <option value='كگلح'>
        <option value='كلوند'>
        <option value='كلوندح'>
        <option value='كماسه'>
        <option value='كماسهح'>
        <option value='كمنگنز'>
        <option value='كمنگنزح'>
        <option value='كنور'>
        <option value='كنورح'>
        <option value='كنيلو'>
        <option value='كنيلوح'>
        <option value='كهرام'>
        <option value='كهرامح'>
        <option value='كهمدا'>
        <option value='كهمداح'>
        <option value='كورز'>
        <option value='كورزح'>
        <option value='كوير'>
        <option value='كويرح'>
        <option value='لابسا'>
        <option value='لابساح'>
        <option value='لازما'>
        <option value='لازماح'>
        <option value='لبهمن'>
        <option value='لبهمنح'>
        <option value='لبوتان'>
        <option value='لبوتانح'>
        <option value='لپارس'>
        <option value='لپارسح'>
        <option value='لپويا'>
        <option value='لپوياح'>
        <option value='لپيام'>
        <option value='لپيامح'>
        <option value='لجام'>
        <option value='لجامح'>
        <option value='لخانه'>
        <option value='لخانهح'>
        <option value='لخزر'>
        <option value='لخزرح'>
        <option value='لسرما'>
        <option value='لسرماح'>
        <option value='لكما'>
        <option value='لكماح'>
        <option value='لمخابر'>
        <option value='لمخابرح'>
        <option value='لوتوس'>
        <option value='لوتوسح'>
        <option value='ما'>
        <option value='ماح'>
        <option value='مبين'>
        <option value='مداران'>
        <option value='مدارانح'>
        <option value='مرقام'>
        <option value='مرقامح'>
        <option value='ملت'>
        <option value='ملتح'>
        <option value='نبروج'>
        <option value='نبروجح'>
        <option value='نبورس'>
        <option value='نتوس'>
        <option value='نتوسح'>
        <option value='نكالا'>
        <option value='نمرينو'>
        <option value='نمرينوح'>
        <option value='نوري'>
        <option value='هاي وب'>
        <option value='همراه'>
        <option value='همراهح'>
        <option value='وآذر'>
        <option value='وآذرح'>
        <option value='وآردل'>
        <option value='وآردلح'>
        <option value='واتي'>
        <option value='واتيح'>
        <option value='واعتبار'>
        <option value='واعتبارح'>
        <option value='والبر'>
        <option value='والبرح'>
        <option value='واميد'>
        <option value='واميدح'>
        <option value='وانصار'>
        <option value='وانصارح'>
        <option value='وايران'>
        <option value='وبانك'>
        <option value='وبانكح'>
        <option value='وبشهر'>
        <option value='وبشهرح'>
        <option value='وبصادر'>
        <option value='وبملت'>
        <option value='وبملتح'>
        <option value='وبهمن'>
        <option value='وبهمنح'>
        <option value='وبوعلي'>
        <option value='وبوعليح'>
        <option value='وبيمه'>
        <option value='وبيمهح'>
        <option value='وپارس'>
        <option value='وپارسح'>
        <option value='وپاسار'>
        <option value='وپاسارح'>
        <option value='وپترو'>
        <option value='وپتروح'>
        <option value='وپخش'>
        <option value='وپخشح'>
        <option value='وپست'>
        <option value='وتجارت'>
        <option value='وتجارتح'>
        <option value='وتوس'>
        <option value='وتوسح'>
        <option value='وتوسم'>
        <option value='وتوسمح'>
        <option value='وتوشه'>
        <option value='وتوشهح'>
        <option value='وتوصا'>
        <option value='وتوصاح'>
        <option value='وتوكا'>
        <option value='وتوكاح'>
        <option value='وخارزم'>
        <option value='وخارزمح'>
        <option value='وخاور'>
        <option value='وخاورح'>
        <option value='ورنا'>
        <option value='ورناح'>
        <option value='وساپا'>
        <option value='وساپاح'>
        <option value='وساخت'>
        <option value='وساختح'>
        <option value='وسپه'>
        <option value='وسپهح'>
        <option value='وسخراج'>
        <option value='وسديد'>
        <option value='وسديدح'>
        <option value='وسكاب'>
        <option value='وسكابح'>
        <option value='وسينا'>
        <option value='وسيناح'>
        <option value='وصنا'>
        <option value='وصناح'>
        <option value='وصندوق'>
        <option value='وصندوقح'>
        <option value='وصنعت'>
        <option value='وصنعتح'>
        <option value='وغدير'>
        <option value='وغديرح'>
        <option value='وكار'>
        <option value='وكارح'>
        <option value='ولپارس'>
        <option value='ولساپا'>
        <option value='ولساپاح'>
        <option value='ولصنم'>
        <option value='ولصنمح'>
        <option value='ولغدر'>
        <option value='ولغدرح'>
        <option value='ولملت'>
        <option value='وليز'>
        <option value='وليزح'>
        <option value='ومعادن'>
        <option value='ومعادنح'>
        <option value='ومعين'>
        <option value='وملت'>
        <option value='وملتح'>
        <option value='وملي'>
        <option value='ومليح'>
        <option value='ونفت'>
        <option value='ونفتح'>
        <option value='ونوين'>
        <option value='ونوينح'>
        <option value='ونيرو'>
        <option value='ونيروح'>
        <option value='ونيكي'>
        <option value='ونيكيح'>
        <option value='آ س پ'>
        <option value='اتکای'>
        <option value='افرا'>
        <option value='بالاس'>
        <option value='بپاس'>
        <option value='بخاور'>
        <option value='بساما'>
        <option value='ثالوند'>
        <option value='ثباغ'>
        <option value='ثپردیس'>
        <option value='ثرود'>
        <option value='ثعمرا'>
        <option value='ثغرب'>
        <option value='دتولید'>
        <option value='سمگا'>
        <option value='شغدیر'>
        <option value='صبا'>
        <option value='فرابورس'>
        <option value='فولای'>
        <option value='کاسپین'>
        <option value='کمرجان'>
        <option value='گوهران'>
        <option value='میدکو'>
        <option value='وپویا'>
        <option value='وسبحان'>
        <option value='ولبهمن'>
        <option value='وهور'>
        <option value='اپرداز'>
        <option value='اتکام'>
        <option value='ارفع'>
        <option value='آریا'>
        <option value='اعتلا'>
        <option value='اوان'>
        <option value='بجهرم'>
        <option value='بزاگرس'>
        <option value='بکهنوج'>
        <option value='بگیلان'>
        <option value='بمپنا'>
        <option value='بهپاک'>
        <option value='پخش'>
        <option value='پیزد'>
        <option value='تاپکیش'>
        <option value='تبرک'>
        <option value='تلیسه'>
        <option value='توریل'>
        <option value='ثتران'>
        <option value='حآسا'>
        <option value='حپارسا'>
        <option value='حخزر'>
        <option value='حریل'>
        <option value='حسیر'>
        <option value='حسینا'>
        <option value='حکمت'>
        <option value='خدیزل'>
        <option value='داوه'>
        <option value='دبالک'>
        <option value='دتوزیع'>
        <option value='درهآور'>
        <option value='دسانکو'>
        <option value='دکپسول'>
        <option value='دماوند'>
        <option value='دی'>
        <option value='ذوب'>
        <option value='رافزا'>
        <option value='رنیک'>
        <option value='ریشمک'>
        <option value='زاگرس'>
        <option value='زبینا'>
        <option value='زدشت'>
        <option value='زشریف'>
        <option value='زشگزا'>
        <option value='زفکا'>
        <option value='زقیام'>
        <option value='زکشت'>
        <option value='زگلدشت'>
        <option value='زماهان'>
        <option value='زملارد'>
        <option value='زنگان'>
        <option value='ساوه'>
        <option value='ساینا'>
        <option value='سبزوا'>
        <option value='سدبیر'>
        <option value='سرچشمه'>
        <option value='شاروم'>
        <option value='شاوان'>
        <option value='شبصیر'>
        <option value='شپاس'>
        <option value='شتوکا'>
        <option value='شراز'>
        <option value='شرانل'>
        <option value='شصدف'>
        <option value='شگویا'>
        <option value='غپآذر'>
        <option value='غدیس'>
        <option value='غشهداب'>
        <option value='غفارس'>
        <option value='غگلپا'>
        <option value='غگلستا'>
        <option value='غگیلا'>
        <option value='غمینو'>
        <option value='غویتا'>
        <option value='فروی'>
        <option value='فزرین'>
        <option value='قاسم'>
        <option value='قچار'>
        <option value='قشیر'>
        <option value='کپرور'>
        <option value='کتوکا'>
        <option value='کرمان'>
        <option value='کشرق'>
        <option value='کگهر'>
        <option value='کلر'>
        <option value='کوثر'>
        <option value='کی بی سی'>
        <option value='کیمیا'>
        <option value='گکوثر'>
        <option value='مادیرا'>
        <option value='مارون'>
        <option value='مفاخر'>
        <option value='میهن'>
        <option value='نطرین'>
        <option value='نوین'>
        <option value='هجرت'>
        <option value='هرمز'>
        <option value='وآوا'>
        <option value='ودی'>
        <option value='وکوثر'>
        <option value='وگستر'>
        <option value='ولشرق'>
        <option value='ومعلم'>
        <option value='وملل'>
        <option value='ومهان'>
        <option value='آبین'>
        <option value='آریان'>
        <option value='آینده'>
        <option value='بایکا'>
        <option value='بمیلا'>
        <option value='بنو'>
        <option value='پارتا'>
        <option value='پشاهن'>
        <option value='پلاست'>
        <option value='تابا'>
        <option value='تپکو'>
        <option value='تپولا'>
        <option value='تشتاد'>
        <option value='تکنار'>
        <option value='ثاصفا'>
        <option value='ثتوسا'>
        <option value='ثجوان'>
        <option value='ثزاگرس'>
        <option value='ثعتما'>
        <option value='ثقزوی'>
        <option value='ثنام'>
        <option value='ثنظام'>
        <option value='ثنور'>
        <option value='جهرم'>
        <option value='جوین'>
        <option value='چنوپا'>
        <option value='حاریا'>
        <option value='حبندر'>
        <option value='حرهشا'>
        <option value='خاور'>
        <option value='خصدرا'>
        <option value='خعمرا'>
        <option value='خفناور'>
        <option value='خفولا'>
        <option value='خکاوه'>
        <option value='خکرمان'>
        <option value='خلیبل'>
        <option value='خودکفا'>
        <option value='داراب'>
        <option value='دحاوی'>
        <option value='دشیری'>
        <option value='دقاضی'>
        <option value='دهدشت'>
        <option value='زنجان'>
        <option value='ساذری'>
        <option value='ساروج'>
        <option value='سامان'>
        <option value='سباقر'>
        <option value='سجام'>
        <option value='سخواف'>
        <option value='سفاسی'>
        <option value='سکارون'>
        <option value='سلار'>
        <option value='سمایه'>
        <option value='سمتاز'>
        <option value='شپترو'>
        <option value='شپلی'>
        <option value='شجم'>
        <option value='شرنگی'>
        <option value='شساخت'>
        <option value='شفارا'>
        <option value='شکبیر'>
        <option value='شلرد'>
        <option value='شمواد'>
        <option value='غبهار'>
        <option value='غپونه'>
        <option value='غشوکو'>
        <option value='غصینو'>
        <option value='فافزا'>
        <option value='فالوم'>
        <option value='فبستم'>
        <option value='فبیرا'>
        <option value='فجوش'>
        <option value='فسا'>
        <option value='فسلیر'>
        <option value='فلات'>
        <option value='فنفت'>
        <option value='قاروم'>
        <option value='قجام'>
        <option value='قشرین'>
        <option value='کازرو'>
        <option value='کایتا'>
        <option value='کباده'>
        <option value='کفرآور'>
        <option value='کقزوی'>
        <option value='کمینا'>
        <option value='کهرام'>
        <option value='کورز'>
        <option value='کیسون'>
        <option value='گپارس'>
        <option value='گکیش'>
        <option value='لخانه'>
        <option value='لکما'>
        <option value='ممسنی'>
        <option value='نتوس'>
        <option value='نشار'>
        <option value='نیرو'>
        <option value='وآتوس'>
        <option value='واحصا'>
        <option value='واحیا'>
        <option value='وآداک'>
        <option value='وارس'>
        <option value='وآرین'>
        <option value='وآفر'>
        <option value='وآفری'>
        <option value='وایرا'>
        <option value='وبرق'>
        <option value='وپسا'>
        <option value='وتعاون'>
        <option value='وثخوز'>
        <option value='وثنو'>
        <option value='وثوق'>
        <option value='وجامی'>
        <option value='وحافظ'>
        <option value='وحکمت'>
        <option value='ودانا'>
        <option value='وسدید'>
        <option value='وسرمد'>
        <option value='وسنا'>
        <option value='وسین'>
        <option value='وشمال'>
        <option value='وکادو'>
        <option value='وگردش'>
        <option value='ولانا'>
        <option value='ولتجار'>
        <option value='ولراز'>
        <option value='ومشان'>
        <option value='وملت'>
        <option value='وهنر'>
        <option value='آرمان'>
        <option value='بتک'>
        <option value='تفیرو'>
        <option value='ثاژن'>
        <option value='چکارم'>
        <option value='خبازرس'>
        <option value='دتهران‌'>
        <option value='رفاه'>
        <option value='سایرا'>
        <option value='سفارود'>
        <option value='سنوین'>
        <option value='شتهران'>
        <option value='شتولی'>
        <option value='شزنگ'>
        <option value='شستان'>
        <option value='شسم'>
        <option value='شصفها'>
        <option value='شکف'>
        <option value='شلیا'>
        <option value='غیوان'>
        <option value='فاهواز'>
        <option value='فن آوا'>
        <option value='فنرژی'>
        <option value='فوکا'>
        <option value='قنقش'>
        <option value='قیستو'>
        <option value='کصدف'>
        <option value='گشان'>
        <option value='لازما'>
        <option value='لپیام'>
        <option value='معیار'>
        <option value='وآیند'>
        <option value='ورازی'>
        <option value='وزمین'>
        <option value='وسالت'>
        <option value='وشهر'>
        <option value='ومهر'>
        <option value='بدکو'>
        <option value='پلوله'>
        <option value='تراک'>
        <option value='توسعه'>
        <option value='چبسپا'>
        <option value='سپرمی'>
        <option value='فسدید'>
        <option value='کابگن'>
        <option value='وقوام'>
        <option value='شگامرن'>
        <option value='غگز'>
        <option value='غنیلی'>
        <option value='فماک'>
          


      </datalist>
    <br>
      <label for="quantity">تعداد سهم:</label><br>
      <input type="number" id="quantity" name="quantity" required><br>
      <label for="minqueue">حداقل صف خرید:</label><br>
      <input type="number" id="minqueue" name="minqueue" required><br>
      <!-- <label for="minratio">  صف خرید به صف فروش:</label><br>
      <input type="number" id="minratio" name="minratio" value=1 required><br> -->
    
      <input type="radio" id="pishgoshayesh" name="robot" value="pishgoshayesh" required>
      <label for="pishgoshayesh1"> پیش گشایش</label><br>
      <input type="radio" id="changestatus" name="robot" value="changestatus">
      <label for="pishgoshayesh1"> تغییر وضعیت</label><br>
      <input type="radio" id="heynebazar" name="robot" value= "heynebazar" checked>
      <label for="pishgoshayesh1"> حین بازار</label><br><br>
      
      <div id><input type="submit" value=" شروع " onclick="myfunction()" style="color: darkred; background-color: none ; font-size: 16px; font-family: 'KoodakRegular'; margin-right: 70px;"></button></div>

    </fieldset>
</div>



    
  </form> 
  
  <div id="myP1"  style="display: none;"><p> {{data}} </p></div>
  <script>
    function myfunction() {
  window.alert('آیا از اجرای سفارش اطمینان دارید؟');
}
function showpassFunction() {
  var x = document.getElementById("password1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
} 

  </script>
  
{% endblock %}